:root {
            --font-display: 'Montserrat', sans-serif;
            --font-sans: 'Inter', sans-serif;
            --color-ieq-purple: #590253;
            --color-ieq-blue: #0476D9;
            --color-ieq-gold: #F2B705;
            --color-ieq-red: #A60303;
        }
        
        #menu-mobile { transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); }


        #div-logo-menu{
            max-width: 125px;
            max-height: 125px;
        }

        #img-logo-menu{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }


        #form-sct-sobre-nos{
            background-color: var(--color-ieq-blue);
            padding: 2rem;

          
        }

       #btn-enviar-sct-sobre{
            background-color: var(--color-ieq-red);
            
        }
          

       